/* 
    Document   : default
    Created on : Oct 19, 2011, 8:41:43 PM
    Author     : Alberto Miranda <alberto@nextive.com>
    Description:
        Default styles for HTML Tests
*/

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: local('Arvo'), url('http://themes.googleusercontent.com/font?kit=vvWPwz-PlZEwjOOIKqoZzA') format('truetype');
}

body{
    font:normal normal normal 12px arial;
    background:#555;
}

h1{
    font:normal normal normal 34px arvo;
    background: dodgerblue;
    padding:4px;
    border-radius:10px;
}

h1 .title{
    
}

h1 .subtitle{
    font-size:28px;
    color:white;
}

nav{
    background:cadetblue;
    padding:5px;
    font:normal normal normal 18px arvo;
    border-radius:10px;
}

a{
    color:black;
    background:lightgrey;
    display:block;
    padding:10px 15px;
    margin:2px;
    text-decoration:none;
    border-top:1px solid #eee;
    border-bottom:1px solid gray;
    border-radius:10px;
}

a:hover{
    color:white;
    background:cornflowerblue;
}

footer{
    margin:40px 0 0 0;
    background:black;
    color:gray;
    padding:10px;
    border-radius:10px;
    font-size:11px;
}

footer div:first-child{
    color:yellow;
    font:normal normal normal 14px arvo;
}

footer a{
    padding:0 2px;
    margin:0;
    border:none;
    background:none;
    display:inline;
    color:#eee;
}

.codeBox{
    background:black;
    color:yellow;
    border:none;
    border-radius:10px;
    padding:10px;
    margin: 3px 0;
}

.code{
    width:100%;
    background:black;
    color:yellow;
    border:none;
}